:host{
    --padding-border : 1rem;
}

.btn-cls{
    background-color: lightblue;
    color: blue;
    border: 1px;
    padding: var(--padding-border);
}

.input-padding{
    padding: var(--padding-border);
}